body.main-container {
    background: #b6b8bd;
    padding-bottom: 16px;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 55px;
}

.questionnaire {}

.form {
    font-size: 14px;
    border-width: 0;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.highlighted:hover {
    background-color: rgba(0, 0, 0, .1);
}

.form-header {
    background: #eee;
    border-width: 0;
    font-size: 22px;
    border-bottom: 2px solid #aaa;
    margin-bottom: 0 !important;
}

.form-collapse-button {
    margin: -4px;
    padding: 4px;
    cursor: pointer;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    border-radius: 6px;
}

.form-collapse-button:hover {
    background-color: rgba(0, 0, 0, .1);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%231E88E5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.form-collapse-button.collapsed {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.form-collapse-button.collapsed:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%231E88E5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

ul.side-bar li {
    word-break: break-word;
}

.cs-item {
    /*background: #f9f9f9;
    box-shadow: 3px 3px 15px rgba(0,0,0,.3);
    border-radius:8px;*/
    border-top: 1px solid #777;
    /*padding-bottom: 10px;
    padding-top:10px;*/
    background-color: #f9f9f9;
}

.cs-item:hover {
    outline: solid 1px #377bb5;
    outline-offset: -1px;
}

.vs-collapse-button {
    margin-right: 10px;
    display: inline-block;
    float: right;
    width: 16px;
    height: 32px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.vs-collapse-button:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%231E88E5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.vs-collapse-button.collapsed {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.vs-collapse-button.collapsed:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%231E88E5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.ct-radio-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px dashed #777;
    border-radius: .75rem;
    vertical-align: middle;
}

.ct-radio-button.checked {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1rem;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 100 100' fill='%23444' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='50' cy='50' r='50'/%3e%3c/svg%3e");
}

.ct-check-box {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #777;
    border-radius: 4px;
    vertical-align: middle;
}

.ct-check-box.checked {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1rem;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' transform='rotate(45 8 8)' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.dcf-label {
    color: #888;
}

.text-box-row {
    padding: 8px 1px;
}

.text-box-row-value {
    overflow-x: auto;
}

.question {
    background: #eee;
    padding-top: 10px;
}

.question.vertical-roster {
    background: transparent;
    min-width: 200px;
}

.dashed-separator {
    border-bottom: 1px dashed #aaa;
    /*padding: 4px 0;*/
}

.values {
    padding: 4px 0;
}

.value-row {
    display: none;
    margin-left: -12px;
    padding-left: 12px;
}

.value {
    white-space: nowrap;
}

.cs-roster-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 90vh;
}

table.cs-roster {
    border-bottom: 1px solid #aaa;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
    margin-bottom: 12px;
    width: 100%;
}

table.cs-roster thead {
    /*border-bottom: 1px dashed #aaa;*/
    background-color: #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    z-index: 1000;
    position: sticky;
    top: 0;
}

table.cs-roster th {
    font-weight: normal;
    min-width: 250px;
    vertical-align: bottom;
    border-left: 1px solid #aaa;
}

table.cs-roster th.occ-label {
    min-width: auto;
    padding: 10px 8px 0 8px;
    border: none;
}

table.cs-roster td {
    font-weight: normal;
    min-width: 250px;
    vertical-align: top;

    border-left: 1px solid #aaa;
}

table.cs-roster td:first-child {
    padding-top: 4px;
    padding-left: 4px;
    min-width: auto;
    border: none;
}

table.cs-roster td:nth-child(2) {
    padding: 10px 8px 0 0;
    min-width: auto;
    border: none;
}


table.cs-roster tbody tr:hover {
    outline: solid 1px #377bb5;
    outline-offset: -1px;
}



.not-app {
    background: rgba(204, 204, 204, .2);
}

.not-app::after {
    content: "--- Not applicable ---";
    padding-left: 16px;
    font-style: italic;
    color: #777;
}

.not-app-box {
    background: #ccc !important;
}

.cs-block {
    margin-top: 16px;
    margin-bottom: 16px;
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.cs-block-header {
    background-color: #eee;
}

.cs-block-body {
    padding-left: 16px;
    padding-right: 16px;
}

.cs-note {
    color: black;
    float: right;
    font-size: 1.3rem;
    margin-top: -4px;
    cursor: pointer;
}

.cs-note:hover {
    color: #377bb5;
}


.menu-item-container-div {
    font-weight: bold;
}

.menu-item-div:hover {
    background: rgba(0, 0, 0, .1);
}

.menu-item-link {
    color: #555;
}

.menu-item-link.active {
    color: #377bb5;
}


.cs-item-border {
    padding: 2px 0;
}

table.cs-item {
    width: 100%;
    border: 2px solid black;
    background-color: transparent
}

table.cs-item th:first-child {
    width: 25%;
}

table.cs-item th {
    font-weight: normal;
    vertical-align: top;
    padding: 8px 16px 0 16px;
}

table.cs-item td {
    padding: 0 16px;
}

table.cs-item thead {
    border-bottom: 1px solid black;
}


table.value-row-print {
    width: 100%;
}

.roster-transpose-button {
    font-size: 1.6rem;
    margin: 6px;
    cursor: pointer;
}

.roster-transpose-button:hover {
    color: #377bb5;
}

div.cs-thumb {
    text-align: center;
    padding-bottom: 4px;
}

img.cs-thumb {
    width: 150px;
    height: auto;
    max-height: 300px;
    cursor: pointer;
}

.image-modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

img.cs-image {
    max-width: 100%;
}

.roster-block {
    background-color: #fff;
}

.roster-block td {
    width: 16px;
    min-width: 16px !important;
}

.roster-block-start-gap,
.roster-block-end {
    height: 16px;
}

.roster-block-start {
    background-color: #eee;
}

.roster-block-start td {
    /* border-bottom-color: rgba(0, 0, 0, .125) !important; */
    border: 1px solid #777 !important;
}

.hroster-block-start-marker {
    display: none;
}

.hroster-block-end-marker {
    display: none;
}

.hroster-block-header {
    border-bottom: 1px solid #aaa;
    padding: 16px;
}

.cs-flat-roster {
    border: 1px solid #999;
}