body {
	margin: 10px;
	padding: 0px;
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

p {
    margin: 2px;
}

a {
    color: #4878c7;
}

.c2h_divider {
	opacity: 0.2;
	/* for IE: */
	zoom: 1;
	filter: alpha(opacity=20);
}

.c2h_case_key {
    font-size: 12pt;
    font-weight: bolder;
    margin-bottom: 10px;
}

.c2h_case_note {
    color: #0060ff;
    font-weight: bold;
    margin-bottom: 15px;
}

.c2h_status {
    font-style: italic;
    color: gray;
    margin-bottom: 15px;
}

.c2h_level_name {
    color: #034f84;
    font-size: 10pt;
    font-weight: bolder;
    margin-bottom: 5px;
}

.c2h_record_name {
    color: #034f84;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.c2h_table {
    border-collapse: collapse;
    border-style: hidden;
    border: 1px solid #92a8d1;
    margin-bottom: 20px;
}

.c2h_table td {
    border: 1px solid #92a8d1;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

.c2h_table_header {
    color: #034f84;
    font-weight: bold;
    vertical-align: bottom;
}

.c2h_table_r0 {
    background-color: #edf1f7;
}

.c2h_table_r1 {
    background-color: #f7f9fB;
}

.c2h_partial_save_item_link {
    color: #348063;
    font-weight: bold;
}

.c2h_partial_save_item_cell {
    background-color: #9fd4bf;
}

.c2h_note_icon {
    margin-left: 5px;
}

.c2h_image_thumbnail {
    display: block;
    max-width: 320px;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.c2h_icon {
    display: block;
    max-width: 64px;
    max-height: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.c2h_errors {
    background: #eba10e;
    border-radius: 25px;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 15px;
    padding: 15px;
}


.dv_summary_alignment {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dv_summary_table {
    background: #edf1f7;
    border-collapse: collapse;
    border-style: hidden;
    border: 1px solid #92a8d1;
}

.dv_summary_table td {
    border: 0px;
    color: #3c5990;
    font-size: 12pt;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

.dv_summary_table_header {
    font-weight: bold;
}
