# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4

# Xml files
[*.xml]
indent_size = 2

[*.{h,cpp,c,cc,cs,mgf}]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8-bom

[resource*.h]
charset = latin1

[*.{java}]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8